.notification-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 250px;
  width: 350px;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  padding: 20px;
  z-index: 9999;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.5s ease;
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &.fade-out {
    opacity: 0;
    transform: translate(-50%, -40%);
  }
  &.success {
    border-left: 5px solid #28a745;
  }

  &.error {
    border-left: 5px solid #dc3545;
  }

  &.info {
    border-left: 5px solid #17a2b8;
  }

  &.warning {
    border-left: 5px solid #ffc107;
  }

  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 80px;
      height: auto;
      margin-bottom: 15px;
    }

    p {
      margin: 0;
      font-weight: bold;
      font-style: italic;
      font-size: 1.5rem;
      text-align: center;
      line-height: 1.4;
      color: rgb(14, 13, 13);
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
